html {
    height: 100vh !important;
    width: 100vw !important;
}

body {
    height: 100% !important;
    width: 100% !important;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

.comment {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

.comment-content {
    margin-top: 5px;
    font-weight: 300;
}

.comments-list {
    width: 50%;
    max-height: 90%;
    overflow: auto;
}

.comment-title {
    font-weight: bold;
    font-size: small;
}

.reply {
    color: #888;
    padding-left: 5%;
    padding-top: 1%;
}

#personal-website {
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
}

#personal-website a {
    color: #fff; 
    text-decoration: none; 
}

#personal-website a:hover {
    text-decoration: underline; 
}